@import "bootstrap";
@import "octicons";
@import "font-awesome";

img.avatar-img-sm {
    height: 24px;
    width: 24px;
}

.nav-search {
    padding-left: 12px;
    padding-right: 12px;
}

.nav-search-button {
    margin-left: 12px;
    margin-right: 12px;
}

.container {
    padding: 12px;
}
